@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap');
body{
    margin: 0;
    font-family: 'Edu TAS Beginner', cursive;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, #7E6D63 0%, #67685F 100%);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size:  3vw;
    color: #77ffc0;
}

.right-login{
    width: 50wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.card-login{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    padding: 30px 35px;
    background: #3a3a3a00;
    border-radius: 20px;
    box-shadow: 0px 0px 50px #000000;
    backdrop-filter: blur(1.5px);
}

.card-registo{
    width: 80%;
    display: none;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    padding: 0px 35px;
    background: #3a3a3a00;
    border-radius: 20px;
    box-shadow: 0px 0px 50px #000000;
    backdrop-filter: blur(1.5px);
}

.card-buttons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    padding: 30px 35px;
    background: #3a3a3a00;
    border-radius: 20px;
    box-shadow: 0px 0px 50px #000000;
    backdrop-filter: blur(1.5px);
}

.card-login > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
    
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #88888811;
    color: #f0ffffc9;
    size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield > input::placeholder{
    color: rgba(255, 255, 255, 0.514);
}

.textfield > label{
    color: white;
    font-size: 17px;
    font-family: 'Edu TAS Beginner', cursive;
    text-transform: uppercase;
    margin-bottom:  10px;
    
}


.btn-login{
    width: 100%;
    padding: 16px 10px;
    margin: 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ecf0f186;
    cursor: pointer;
    background-color: #00000000;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);

}

.btn-login:hover{
    transform: scale(1.05);
    color: #ECF0F1;
    transition: 1s;
}

.favicon{
    background-color: transparent;
}

.btn-registo{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #585858;
    cursor: pointer;
    background: rgba(194, 189, 51, 0.521);
    box-shadow: 0px 10px 40px -12px #dfdda252;
}

.btn-log{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #585858;
    cursor: pointer;
    background: rgba(194, 189, 51, 0.521);
    box-shadow: 0px 10px 40px -12px #dfdda252;
}

.img{
    width: 500px;
    flex-direction: column;
    background: #3a3a3a00;
    border-radius: 99px;
    box-shadow: 0px 0px 50px #000000;
    backdrop-filter: blur(1.5px);
}



